.header-avaliacao {
    text-align: center;
}

#botaoFinalizar-avaliacao{
	margin-bottom: 5em;
	position: absolute;
	right: 0;
}


.dropdown-toggle::after {
    display: None;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* Stars */
.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  display: inline-block;
}

.starrating > label{
  color: gainsboro; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: gold; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: gold;  } /* Set yellow color when star hover */


.reverse { display: flex; flex-direction: row-reverse; }

label.fa-star:hover { transform:  scale(1.5); }

.fa-star {
  padding-left:0.5em;
  font-size: 1.2em;
}


@media (min-width: 769px) {
    .form-row-avaliacao{
        text-align: right;
    }
}

.avaliacaoh1 {
    font-weight: 400;
    text-decoration: underline;
    margin-top: 1em;
}
