<div class="container rounded container-adicionar-usuario">
  <div class="row">
    <div class="col-lg-12">
      <div class="header">
        <h1>Cadastrar Usuário</h1>
      </div>
    </div>
  </div>

  <form method="post" action="/usuario/create" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-1">
        <label for="inputName">Nome Completo</label>
        <input type="text" class="form-control" id="inputName" name="Nome" placeholder="Obrigatório*">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 offset-md-1">
        <label for="inputCPF">CPF</label>
        <input type="text" class="form-control" id="inputCPF" name="CPF" placeholder="Obrigatório*" size="11">
      </div>
      <div class="form-group col-md-4 offset-md-2">
        <label for="inputRG">RG</label>
        <input type="text" class="form-control " id="inputRG" name="RG" placeholder="Obrigatório*">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 offset-md-1">
        <label for="inputSexo">Sexo</label>
        <select id="inputSexo" class="form-control" name="Sexo">
          <option selected value="F">Feminino</option>
          <option value="M">Masculino</option>
        </select>
      </div>
      <div class="form-group col-md-4 offset-md-2">
        <label for="inputNascimento">Data de Nascimento</label>
        <input class="form-control" id="date" name="Nascimento" placeholder="dia/mes/ano" type="text"/>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8 offset-md-1">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Obrigatório*">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8 offset-md-1">
        <label for="inputEndereco">Endereço</label>
        <input type="text" class="form-control" id="inputEndereco" name="Endereco" placeholder="Obrigatório*">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 offset-md-1">
        <label for="inputEstado">Estado</label>
        <select id = "inputEstado" name="Estado" class="form-control">
          <option value=""></option>
        </select>
      </div>
      <div class="form-group col-md-4 offset-md-2">
        <label for="inputCidade">Cidade</label>
        <select id = "inputCidade" name="Cidade" class="form-control">
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 offset-md-1">
        <label for="inputTelefone">Telefone</label>
        <input class="form-control" id="inputTelefone" name="Telefone" placeholder="Obrigatório*" type="text"/>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 offset-md-1">
        <label for="inputSenha">Senha</label>
        <input type="password" class="form-control" id="inputSenha" name="Senha" placeholder="Obrigatório*">
      </div>
      <div class="form-group col-md-4 offset-md-2">
        <label for="inputConfSenha">Confirmar Senha</label>
        <input type="password" class="form-control " id="inputConfSenha" placeholder="Obrigatório*">
      </div>
    </div>

    <div class="form-row ">
      <div class="form-group offset-md-1">
        <label for="FotoPerfil">Foto de perfil</label>
        <input type="file" class="form-control-file" name="FotoPerfil" id="FotoPerfil">
      </div>
    </div>

    <div class="form-row">
      <div class="form-check form-check-inline  col-md-4 offset-md-1">
        <input type="checkbox" class="form-check-input" id="termoUso" checked>
        <label class="form-check-label" for="termoUso"> Concordo com os termos de uso</label>
      </div>
    </div>

    <div class= "form-row ">
      <div class= "col-md-11 d-flex flex-row-reverse">
        <button type="submit" class="btn btn-success" id="botaoFinalizar"> Salvar Alterações </button>
      </div>
    </div>
  </form>
</div>
