<div class="container content ">
		<div class="row pb-5">
			<div class="col-lg-12">
				<div class="header-avaliacao">
					<h1 class="avaliacaoh1">Avaliação</h1>
				</div>
			</div>
		</div>
		<form method = "post" form action = "usuario/avaliacaoConcluida" enctype = "multipart/form-data">

			<div class="form-row-avaliacao">
				<div class="form-group col-md-6  ">
					<label for="inputDialogo">Diálogo com o Locatário</label>

				</div>
				<div class="form-group reverse starrating-avaliacao-avaliacao offset-md-1">
					    <input type="radio" id="star5" class="star" name="dialogo" value="5" />
              <label class="fas fa-star-avaliacao" for="star5" 	title="5 estrelas"></label>
	            <input type="radio" id="star4" class="star" name="dialogo" value="4" />
              <label class="fas fa-star-avaliacao" for="star4" title="4 estrelas"></label>
	            <input type="radio" id="star3" class="star" name="dialogo" value="3" />
              <label class="fas fa-star-avaliacao" for="star3" title="3 estrelas"></label>
	            <input type="radio" id="star2" class="star" name="dialogo" value="2" />
              <label class="fas fa-star-avaliacao" for="star2" title="2 estrelas"></label>
	            <input type="radio" id="star1" class="star" name="dialogo" value="1" />
              <label class="fas fa-star-avaliacao" for="star1" title="1 estrela"></label>
				</div>
			</div>

			<div class="form-row ">
				<div class="form-group col-md-6 ">
					<label for="inputCarro">Estado do Carro</label>

				</div>
				<div class="form-group  reverse starrating-avaliacao offset-md-1">
					    <input type="radio" id="star5_carro"  name="carro" value="5" /><label class=" fas fa-star-avaliacao" for="star5_carro" 	title="5 estrelas"></label>
			            <input type="radio" id="star4_carro"   name="carro" value="4" /><label class="fas fa-star-avaliacao" for="star4_carro" title="4 estrelas"></label>
			            <input type="radio" id="star3_carro"  name="carro" value="3" /><label class="fas fa-star-avaliacao" for="star3_carro" title="3 estrelas"></label>
			            <input type="radio" id="star2_carro"   name="carro" value="2" /><label class="fas fa-star-avaliacao" for="star2_carro" title="2 estrelas"></label>
			            <input type="radio" id="star1_carro"   name="carro" value="1" /><label class="fas fa-star-avaliacao" for="star1_carro" title="1 estrela"></label>
				</div>
			</div>

			<div class="form-row ">
				<div class="form-group col-md-6 ">
					<label for="inputVerac">Veracidade em Relação ao Anúncio</label>

				</div>
				<div class="form-group  reverse starrating-avaliacao offset-md-1">
					 <input type="radio" id="star5_verac"  name="verac" value="5" /><label class=" fas fa-star-avaliacao" for="star5_verac" 	title="5 estrelas"></label>
		            <input type="radio" id="star4_verac"  name="verac" value="4" /><label class="fas fa-star-avaliacao" for="star4_verac" title="4 estrelas"></label>
		            <input type="radio" id="star3_verac" name="verac" value="3" /><label class="fas fa-star-avaliacao" for="star3_verac" title="3 estrelas"></label>
		            <input type="radio" id="star2_verac" name="verac" value="2" /><label class="fas fa-star-avaliacao" for="star2_verac" title="2 estrelas"></label>
		            <input type="radio" id="star1_verac" name="verac" value="1" /><label class="fas fa-star-avaliacao" for="star1_verac" title="1 estrela"></label>
				</div>

			</div>

			<div class="form-row ">
				<div class="form-group col-md-6">
					<label for="inputPreco">Preço Justo</label>

				</div>
				<div class="form-group reverse starrating-avaliacao offset-md-1">
					<input type="radio" id="star5_preco" name="preco" value="5" /><label class="fas fa-star-avaliacao" for="star5_preco" title="5 estrelas"></label>
		            <input type="radio" id="star4_preco" name="preco" value="4" /><label class="fas fa-star-avaliacao" for="star4_preco" title="4 estrelas"></label>
		            <input type="radio" id="star3_preco" name="preco" value="3" /><label class="fas fa-star-avaliacao" for="star3_preco" title="3 estrelas"></label>
		            <input type="radio" id="star2_preco" name="preco" value="2" /><label class="fas fa-star-avaliacao" for="star2_preco" title="2 estrelas"></label>
		            <input type="radio" id="star1_preco" name="preco" value="1" /><label class="fas fa-star-avaliacao" for="star1_preco" title="1 estrela"></label>
				</div>
			</div>

			<div class="form-row ">
				<div class="form-group col-md-6">
					<label for="inputComp">Comprometimento com Cliente</label>

				</div>
				<div class="form-group reverse starrating-avaliacao offset-md-1">
					<input type="radio" id="star5_comp" name="comproment" value="5" /><label class=" fas fa-star-avaliacao" for="star5_comp" 	title="5 estrelas"></label>
		            <input type="radio" id="star4_comp" name="comproment" value="4" /><label class="fas fa-star-avaliacao" for="star4_comp" title="4 estrelas"></label>
		            <input type="radio" id="star3_comp" name="comproment" value="3" /><label class="fas fa-star-avaliacao" for="star3_comp" title="3 estrelas"></label>
		            <input type="radio" id="star2_comp" name="comproment" value="2" /><label class="fas fa-star-avaliacao" for="star2_comp" title="2 estrelas"></label>
		            <input type="radio" id="star1_comp" name="comproment" value="1" /><label class="fas fa-star-avaliacao" for="star1_comp" title="1 estrela"></label>
				</div>
			</div>


			<div class= "form-row">
				<div class= "col-6 col-md-2 offset-md-1">
					<button type="submit" class="btn btn-danger" id="botaoCancelar"> Cancelar </button>

				</div>
				<div class= " col-6 col-md-2 offset-md-6">
					<button type="submit" class="btn btn-success" id="botaoFinalizar-avaliacao"> Finalizar </button>

				</div>

			</div>
			</form>
	</div>
