<h1 class="titulo">Usuários <!--<a href="/usuario/add" class="btn btn-outline-light">Novo</a>--></h1>
<div class="container listar-usuarios">
  <div class="row  justify-content-center">
    <% usuarios.forEach(function(usuario){ %>
      <div class="card bg-light border-dark mb-3 mr-3" style="max-width: 18rem; min-width: 18rem;">
       <div class="classimage d-flex justify-content-center"> <img class="card-img-top" src="/images/usuario/<%=usuario.Foto%>" alt="foto do usuário"> </div>

        <div class="card-header">
          <div class="form-row">
            <h5 class="card-title"><%=usuario.Nome%></h5>
  
            <div class="form-group reverse starrating offset-sm-2">
              <input type="radio" id="star5" class="star" name="dialogo" value="5" /><label class="fas fa-star" for="star5" title="5 estrelas"></label>
              <input type="radio" id="star4" class="star" name="dialogo" value="4" /><label class="fas fa-star" for="star4" title="4 estrelas"></label>
              <input type="radio" id="star3" class="star" name="dialogo" value="3" /><label class="fas fa-star" for="star3" title="3 estrelas"></label>
              <input type="radio" id="star2" class="star" name="dialogo" value="2" /><label class="fas fa-star" for="star2" title="2 estrelas"></label>
              <input type="radio" id="star1" class="star" name="dialogo" value="1" /><label class="fas fa-star" for="star1" title="1 estrela"></label>
            </div>
          </div>
        </div>

        <div class="card-footer text-right">
          <a href="/usuario/about/<%=usuario.CPF%>"><button type="button" class="btn btn-info">Ver mais</button></a>
        </div>

      </div>
    <% })%>
  </div>
</div>
